:root {
    --jg-theme-core: #9d5734;
    --jg-theme-100: hsl(20, 52%, 91%);
    --jg-theme-150: hsl(20, 6%, 87%);
    --jg-theme-200: hsl(20, 51%, 81%);
    --jg-theme-300: hsl(20, 50%, 71%);
    --jg-theme-400: hsl(20, 50%, 61%);
    --jg-theme-500: hsl(20, 46%, 48%);
    --jg-theme-600: hsl(20, 50%, 41%);
    --jg-theme-700: hsl(20, 50%, 31%);
    --jg-theme-800: hsl(20, 50%, 21%);
    --jg-theme-850: hsl(20, 50%, 16%);
    --jg-theme-900: hsl(20, 50%, 11%);
    --jg-dark-color: #212121;
    --jg-light-color: #deeefb;
}


/* font-family: 'Tomorrow', sans-serif; */

/* #region Start Sticky Footer */

.mainLogo {
    height: 2em;
    margin-left: -1em;
}

html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--jg-theme-150);
}
main {
    flex-grow: 1;
}
footer {
    flex-shrink: 0;
}
/* #endregion  Sticky footer */
.btn-primary {
    --bs-btn-bg: var(--jg-theme-600);
    --bs-btn-border-color:var(--jg-theme-600);
    --bs-btn-hover-bg : var(--jg-theme-700);
    --bs-btn-hover-border-color : var(--jg-theme700);
}
.navbar,
.footer {
    background-color: var(--jg-theme-900);
}
.footer {
    color: var(--jg-theme-200);
}
.socialIcons {
    font-size: 2rem;
    padding-left: .5rem;
    color: var(--jg-theme-400);
    transition: color 0.2s;
    text-decoration: none;
}


.socialIcons:hover {
    color:var(--jg-theme-core);
}
.app-logo {
    max-width: 400px;
}
.checkList i {
    color: var(--jg-theme-core);
    padding-right: .5rem;
}
.devIcons {
    font-size: 4rem;
    padding-left: .5rem;
}

.even {
    font-weight: bold;
}